@model HomeModel

@{
    ViewData["Title"] = "Fi Group Finance";
}

<div class="text-center">
    <h1 class="display-4">Fi Group Finance</h1>
    <p>Inovando em soluções financeiras</p>
    <span>Usuário: @Model.UserName e @Model.UserName</span>
    <span>Email: @Model.UserEmail</span>
    <br/>
    <br/>
    <button type="button" class="btn btn-primary rounded-pill px-3">Entrar Conta</button>
    <button type="button" class="btn btn-secondary rounded-pill px-3">Criar Conta</button>
</div>
