<div>
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-body-secondary intro-card fade-in">
        <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">Quem está por trás do projeto?</h3>
            <br />
            <p class="card-text mb-auto justify">O Projeto Fi Group Finance é uma iniciativa transformadora, desenvolvida com o talento e a dedicação dos estagiários do programa Speeds: Vitor, Henrique e Bruno. O objetivo do projeto é criar uma solução moderna e automatizada para o cálculo de imposto de renda, simplificando esse processo complexo e garantindo praticidade aos usuários. Por meio de tecnologias avançadas e um design intuitivo, o sistema permite realizar cálculos rápidos e precisos com base nas informações fornecidas, promovendo eficiência e confiabilidade. Sob a liderança criativa e colaborativa de Vitor, Henrique e Bruno, o Fi Group Finance tem como missão transformar a maneira como as pessoas lidam com suas obrigações fiscais, oferecendo uma experiência simplificada e acessível para todos</p>
        </div>
        <div class="col-auto d-none d-lg-block">
            <img class="bd-img" width="500" height="400" src="https://sopacultural.com/wp-content/uploads/2023/11/fi_group_1.jpg">
        </div>
    </div>
</div>
<br />
<div class="row" style="justify-content: center">
    <div class="col-lg-3 card member-card fade-in" style="text-align: center">
        <div style="text-align:center">
            <button style="border:none; background:none; padding:0; cursor:pointer;" onclick="location.href='https://www.linkedin.com/in/henriquecostadsantos'">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://media.licdn.com/dms/image/v2/D4D03AQGc8C66HR_tEQ/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1672980045555?e=1747872000&v=beta&t=NQreyfZSCLCdWn0OcTLWGbk_by-9VikHY1iv-iyIHLA">
            </button>
        </div>
        <h2 class="fw-normal">Henrique Costa</h2>
        <p>Programador Full-Stack, Estagiário Speed</p>
    </div>
    <div class="col-lg-3 card member-card fade-in" style="text-align: center">
        <div style="text-align:center">
            <button style="border:none; background:none; padding:0; cursor:pointer;" onclick="location.href='https://www.linkedin.com/in/vitor-gomes-5477aa209/'">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://media.licdn.com/dms/image/v2/D4D03AQEH29UbOI8cSA/profile-displayphoto-shrink_400_400/B4DZXXrL6EHAAk-/0/1743080177784?e=1748476800&v=beta&t=UpuBHs-zFK56TpUUOzy44mwQimz_eeuMccBi9ocer3s">
            </button>
        </div>
        <h2 class="fw-normal">Vitor Gomes</h2>
        <p>Programador Full-Stack, Estagiário Speed</p>
    </div>
    <div class="col-lg-3 card member-card fade-in" style="text-align: center">
        <div style="text-align:center">
            <button style="border:none; background:none; padding:0; cursor:pointer;" onclick="location.href='https://www.linkedin.com/in/bruno-carraro-77529a1ba/'">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://media.licdn.com/dms/image/v2/D4D03AQE624Vkm6RdQg/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1710466574771?e=1747872000&v=beta&t=ObId-9wEceVf0PHPgbCKGqPY2d8hqiCgzfiR9d13v_g">
            </button>
            
        </div>
        <h2 class="fw-normal">Bruno Carraro</h2>
        <p>Programador Back-End, Estagiário Speed</p>
    </div>
</div>
