@{
    ViewData["Title"] = "Membros";
}
<h1> Quem está por trás do projeto?</h1>
<p>O Projeto Fi Finance é uma iniciativa inovadora que está sendo desenvolvida com dedicação e talento por dois estagiários do programa Speeds, Vitor e Henrique. Este sistema tem como objetivo criar uma solução moderna e eficiente para operações financeiras, integrando funcionalidades de caixa eletrônico e cadastro de usuários. A visão do projeto é simplificar a gestão de transações e oferecer uma experiência intuitiva e segura para os usuários, combinando tecnologia de ponta com um design acessível e funcional. Sob a liderança criativa de Vitor e Henrique, o Projeto Fi Finance promete transformar a maneira como interagimos com serviços financeiros no dia a dia.</p>
